.searchInput_textInput {
    background-color: #323232!important;
    height: 44px!important;
    border-radius: 12px!important;
    border-color: #323232!important;
    font-size: 16px!important;
    color: #AAAAAA!important;
}
.searchWrapper_textInput {
    margin-bottom: 12px!important;
}
.addFileButton_box {
    border-radius: 44px;
    width: 44px;
    height: 44px;
    background-color: #2990FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab_tabs {
    display: flex;
    align-items: center;
    border-radius: 24px;
    height: 44px;
    &[data-active] {
        background-color: #323232;
    }
}
.label_tabs {
    color: #CECECEFF!important;
    font-size: 16px!important;
    font-weight: 600!important
}
.list_tabs {
    gap: 12px!important;
}